/**
 * Circle of Fifths
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
body {
	background-color: #f4f4f9;
	font-family: 'Roboto', Arial, sans-serif;
	margin: 0;
}
.container {
	margin: 0 auto;
	max-width: 960px;
	padding: 20px;
}
h1, h2 {
	color: #333;
	font-family: 'Roboto', Arial, sans-serif;
	padding: 0;
}
h1 {
	font-size: 30px;
	margin: 50px 0 35px;
	text-align: center;
}
h2 {
	font-size: 24px;
	margin: 0 0 20px;
}
.option-select {
	margin: 0 0 50px;
	text-align: center;
}
select, label {
	color: #333;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
}
select {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 0 20px 0 5px;
	padding: 8px;
}
.circle-of-fifths {
	align-items: center;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	height: 400px;
	justify-content: center;
	margin: 0 auto;
	position: relative;
	width: 400px;
	& .note {
		align-items: center;
		background: #f7ca18;
		border-radius: 50%;
		color: #333;
		display: flex;
		font-weight: bold;
		height: 60px;
		justify-content: center;
		position: absolute;
		text-align: center;
		width: 60px;
		&.active {
			background: #333;
			color: #fff;
		}
		&:nth-child(1) {
			transform: rotate(0deg) translate(0, -180px) rotate(0deg);
		}
		&:nth-child(2) {
			transform: rotate(30deg) translate(0, -180px) rotate(-30deg);
		}
		&:nth-child(3) {
			transform: rotate(60deg) translate(0, -180px) rotate(-60deg);
		}
		&:nth-child(4) {
			transform: rotate(90deg) translate(0, -180px) rotate(-90deg);
		}
		&:nth-child(5) {
			transform: rotate(120deg) translate(0, -180px) rotate(-120deg);
		}
		&:nth-child(6) {
			transform: rotate(150deg) translate(0, -180px) rotate(-150deg);
		}
		&:nth-child(7) {
			transform: rotate(180deg) translate(0, -180px) rotate(-180deg);
		}
		&:nth-child(8) {
			transform: rotate(210deg) translate(0, -180px) rotate(-210deg);
		}
		&:nth-child(9) {
			transform: rotate(240deg) translate(0, -180px) rotate(-240deg);
		}
		&:nth-child(10) {
			transform: rotate(270deg) translate(0, -180px) rotate(-270deg);
		}
		&:nth-child(11) {
			transform: rotate(300deg) translate(0, -180px) rotate(-300deg);
		}
		&:nth-child(12) {
			transform: rotate(330deg) translate(0, -180px) rotate(-330deg);
		}
	}
	.center {
		align-items: center;
		background: #333;
		border-radius: 50%;
		color: #fff;
		cursor: pointer;
		display: flex;
		font-size: 14px;
		height: 80px;
		justify-content: center;
		left: 50%;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 80px;
	}
	.play, .pause {
		display: none;
		&.active {
			display: block;
		}
	}
}
.note-played {
	font-weight: bold;
	margin: 35px 0;
	text-align: center;
	#note-value {
		margin-left: 15px;
	}
}
.results {
	margin: 35px auto;
	max-width: 600px;
	table {
		border-collapse: collapse;
		margin: 0 auto;
		width: 100%;
		th, td {
			border-right: 1px solid #ccc;
			padding: 10px;
			text-align: center;
			&:last-child {
				border-right: none;
			}
		}
		tr {
			border-bottom: 1px solid #ccc;
			&:last-child {
				border-bottom: none;
			}
			&:nth-child(even) td {
				background: #f9f9f9;
			}
		}
		th {
			background: #f7ca18;
		}
		td {
			background: #fff;
		}
	}
}